html, body{
    height: 100%;
}
.mdl-card.back{
    background: url('/cardbacking.jpg') center / cover;
}
.mdl-layout__content{
    height: calc(100% - 200px);
    min-height: 700px;
}
.page-content{
    height: calc(100% - 200px);
    margin: auto;
    width: 100%;
}
.card-stack{
    margin: 100px auto 0 auto;
    overflow: hidden;
    width: 90%;
    min-width: 1480px;
}
.cards{
    float: left;
    margin: 20px;
    height: 400px;
}