html, body{
    height: 100%;
}
.mdl-card.backjiahao{
    background: url('./assets/card  with Jiahao.png') center / cover;
}
.mdl-card.backtwiness{
    background: url('./assets/card  with twiness.png') center / cover;
}
.mdl-card.backnaomi{
    background: url('./assets/card  with naomi.png') center / cover;
}
.mdl-card.backjonathan{
    background: url('./assets/card  with Jonathan.png') center / cover;
}
.mdl-card.win{
    background: url('./assets/card  with happy peterson win.png') center / cover;
}
.mdl-card.lose{
    background: url('./assets/card  with sad peterson lose.png') center / cover;
}
.mdl-layout__content{
    height: calc(100% - 100px);
    min-height: 700px;
}
.page-content{
    height: calc(100% - 100px);
    margin: auto;
    width: 100%;
}
.card-stack{
    margin: 100px auto 0 auto;
    overflow: hidden;

    width: 1146.66666666px;
    height: 100%;
}

.mdl-card.cards {
    float: left;
    margin: 10px;
    height: 400px;
    width: 266.6666666px;

    cursor: pointer;
    border-radius: 3%;
}

.mdl-shadow--2dp.selected_shadow{
    box-shadow: 20px 20px 8px 0 rgba(0, 0, 0, 0.19), 12px 12px 4px -2px rgba(0, 0, 0, 0.24), 5px 5px 2px 0 rgba(0, 0, 0, 0.27);
}

.overlay.overlay_active{
    display: block;
}
#overlay{
  background-color: rgba(0,0,0,0);
}
.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}
.overlay_interior{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: white;
    padding: 10px;
    font-size: 22px;
    background-color: rgba(0,0,0,0.7);
}

img{
  margin: 15px;
}

#overlay_text{
  text-align:center;
  background-color: rgba(0,0,0,0);
}

#overlay_text p{
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;

}
#overlay{
  cursor: pointer;
}

.button{
  font-size: 22px;
  width:240px;
  background-color: rgb(244,67,54);
  text-align: center;
  padding:10px;
  margin:5px;
  cursor: pointer;
}

#new_game{
  width: calc( 100% - 30px);
}

#login_intructions, #bet_instructions{
  font-size: 20px;
  width:240px;
}

#instructions{
  padding: 15px;
  line-height:30px;
}
#close{
  width: calc( 100% - 30px);
}

.input{
  font-size: 20px;
  padding:5px;
  margin:5px;
}

#logged_in{
  float: right;
  margin-right: 40px;
  font-size: 20px;
  color: navy;
  cursor: pointer;
  margin-bottom: 20px;
}

.debug{
    display: none;
}
.debug.debugActive{
    display: block;
}
